.card-station-comp {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.top-favourite-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35%;
}

.top-favourite-card h2 {
  font-size: 16px;
}

.top-favourite-card img {
  width: 20px;
  height: 20px;
}

.top-favourite-card h3 {
  font-size: 16px;
  font-weight: lighter;
}

.middle-favourite-card h2 {
  font-size: 16px;
  font-weight: lighter;
  margin: 0%;
}

.bottom-favourite-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 25%;
  margin: 0.5rem;
}

.fav-button {
  border: none;
}
