.CardStationComp {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 250px;
  height: 100px;
}

.top-favourite-card{
  display: flex;

}

.middle-favourite-card{

}

.bottom-favourite-card{
  
}

#test-button {
  border: 10px solid black;
  padding: 10px;
}

