.leaflet-container {
  height: 100vh;
  width: 100vw;
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.5);
}

.tile {
  filter: var(--map-tiles-filter, none);
  z-index: 1;
}

.right-slide-on {
  position: relative;
  left: 20%;
  z-index: 999999;
  width: 80%;
  top: 1%;
  height: 98%;
  /* overflow: scroll; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.right-slide-off {
  position: relative;
  left: 100%;
  z-index: 999999;
  width: 80%;
  top: 1%;
  height: 98%;
  /* overflow: scroll; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.slide-button {
  background-color: var(--translucid-bg);
  width: 25px;
  height: 70px;
  position: relative;
  left: -25px;
  top: 22rem;
  z-index: 999999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  border: none;
}
.slide-button-cont {
  height: 0px;
}
