.leaflet-container {
  height: 100vh;
  width: 100vw;
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.5);
}

.tile {
  filter: var(--map-tiles-filter, none);
}
.btn-darkmode {
  z-index: 1000000;
}
