.welcome-container {
  font-family: var(--nunito);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.card {
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  height: 60%;
  width: 80%;
}
#username {
  padding: 15px;
  border-radius: 10px;
  height: 0.5rem;
  width: calc(100vw - 200px);
  backdrop-filter: blur(1px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-bottom: 5px;
}
#username:focus {
  outline: none !important;
  border-color: #7b0828;
  box-shadow: 0 0 10px #7b0828;
}

.continue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #d90429;
  background: #d90429;
}
.continue :hover {
  background: #fff;
  color: #d90429;
}
