.navbar-container {
  height: 100vh;
  position: absolute;
}

.navbarnotdark {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 0;
  z-index: 1000;
  bottom: 0;
  height: 100vh;
  font-family: var(--nunito);
  box-shadow: 0 0 2.5em;
  margin: 0;
  padding: 0;
  background-color: white;
  backdrop-filter: blur(1px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
  background-color: rgba(255, 255, 255, 1);
}
.navbardark {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 0;
  color: white;
  left: 0;
  z-index: 1000;
  height: 100vh;
  font-family: var(--nunito);
  box-shadow: 0 0 2.5em;
  margin: 0rem 5rem 0.5rem 0rem;
  background-color: #383838;
  backdrop-filter: blur(1px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
  background-color: rgba(255, 255, 255, 1);
}

.logo-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem 0.3rem 0;
  font-size: 1rem;
  color: #7b0828;
}
h2 {
  font-size: 1.2rem;
}

.cross-logo {
  display: none;
}
.cross-close {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}
.navbar-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-start;
}
.navbar-item {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.logo-velo {
  width: 6rem;
  height: 6rem;
}
.image-item {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-link {
  font-size: 1.5rem;
  padding: 0.6rem;
  text-decoration: none;
  color: #7b0828;
}

.navbar-linkdark {
  font-size: 1.5rem;
  padding: 0.6rem;
  text-decoration: none;
  color: white;
}

.burger-logo {
  visibility: hidden;
}
.marker-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 20px;
  gap: 20px;
}
.marker-container span {
  display: flex;
  gap: 30px;
}
.title-burgerdark {
  font-size: 1.2rem;
  color: #ffffff;
  background: #333333;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  color: #ffffff;
  background: #333333;
}
@media screen and (max-width: 780px) {
  .logo-burger {
    width: 30px;
    height: 25px;
    left: 10%;
  }
  .marker-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  .marker-container span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    align-content: flex-start;
    margin-left: 20px;
  }

  .marker-container img {
    height: 35px;
  }
  .cross-logo {
    display: inline-block;
    background: transparent;
    border: 0;
  }
  .cross-close {
    width: 45px;
    height: 45px;
    margin-left: 1rem;
    background-color: transparent;
  }

  .navbarnotdark {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12000;
    height: 98vh;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0 0 2.5em;
    margin: 0.5rem 5rem 0.5rem 0rem;
    background-color: white;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 1);
  }
  .navbardark {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12000;
    height: 98vh;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0 0 2.5em;
    margin: 0.5rem 5rem 0.5rem 0rem;
    background-color: #383838;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 1);
  }
  .show-nav {
    animation-name: openAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
  }
  @keyframes openAnimation {
    0% {
      left: -85vh;
    }
    100% {
      left: 0;
    }
  }
  .burger-logo {
    position: absolute;
    z-index: 1000;
    left: 1rem;
    top: 4.5%;

    background-color: transparent;
    border: transparent;
    visibility: visible;
  }
  .hide-nav {
    animation-name: closeAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    left: -80vh;
  }
  @keyframes closeAnimation {
    0% {
      left: 0;
    }
    100% {
      left: -85vh;
    }
  }
  .logo-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 0.3rem 0;
    font-size: 1rem;
    color: #7b0828;
  }
  .title-burgerdark {
    font-size: 1.2rem;
    color: #ffffff;
    background: #333333;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
    color: #ffffff;
    background: #333333;
  }
  .title-burger {
    font-size: 1.2rem;
  }

  .navbar-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: flex-start;
    list-style-type: none;
    align-items: flex-start;
    gap: 40px;
    margin-top: 10px;
  }
  .navbar-item {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
  }
  .logo {
    width: 90px;
    height: 120px;
  }
  .image-item {
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
  }
  .navbar-link {
    font-size: 1.5rem;
    padding: 0.6rem;
    text-decoration: none;
    color: #7b0828;
  }
  .hr-burgertop {
    margin-top: 10px;
    border: none;
    width: 90%;

    box-shadow: 0 0 20px 8px rgba(51, 51, 51, 0.6);
  }
  .hr-burgerbottom {
    margin: 20px 0 20px 0;
    border: none;
    width: 90%;
    box-shadow: 0 0 20px 8px rgba(90, 90, 90, 0.6);
    margin-bottom: 30px;
  }
}
