.navbar {
  display: flex;
  flex-direction: column;
  height: 98vh;
  border-radius: 0 2rem 2rem 0;
  box-shadow: 0 0 2.5em;
  margin: 0.5rem 5rem 0.5rem 0.5rem;
}
.logo-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem 0.3rem 0;
  font-size: 1rem;
  color: #7b0828;
}
h2 {
  font-size: 1.2rem;
}
.navbar-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 34%;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: space-between;
  list-style-type: none;
  align-items: flex-start;
}
.navbar-item {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.logo-velo {
  width: 6rem;
  height: 7.5rem;
}

.image-item {
  background-color: #7b0828;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-link {
  font-size: 1.1rem;
  padding: 0.6rem;
}

@media screen and (max-width: 780px) {
  .logo-burger {
    width: 3rem;
    height: 3rem;
  }
  .cross-close {
    width: 2.5rem;
    height: 2.5rem;
  }
  .cross-logo {
    background-color: transparent;
    border: transparent;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 98vh;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0 0 2.5em;
    margin: 0.5rem 5rem 0.5rem 0rem;
    background-color: white;
  }
  .show-nav {
    animation-name: openAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
  }
  @keyframes openAnimation {
    0% {
      right: 100vw;
    }
    100% {
      right: 0;
    }
  }
  .burger-logo {
    position: absolute;
    top: 0.9rem;
    z-index: 1000;
    left: 3rem;
    background-color: transparent;
    border: transparent;
  }
  .hide-nav {
    animation-name: closeAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    right: 100vw;
  }

  @keyframes closeAnimation {
    0% {
      right: 20vw;
    }
    100% {
      right: 100vw;
    }
  }

  .logo-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 2rem 0.3rem 0;
    font-size: 1rem;
    color: #7b0828;
  }
  .title-burger {
    font-size: 1.2rem;
  }
  .navbar-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 34%;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-start;
  }
  .navbar-item {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .logo {
    width: 6rem;
    height: 7.5rem;
  }
  .image-item {
    background-color: #7b0828;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
  }
  .navbar-link {
    font-size: 1.1rem;
    padding: 0.6rem;
  }
  hr {
    margin-top: 2rem;
    border: none;
    width: 90%;
    border-bottom: 1px solid #5a5a5a96;
    box-shadow: 0 0 20px 8px rgba(51, 51, 51, 0.6);
  }
}
