#searchbar {
  margin-top: 1rem;
  padding: 15px;
  border-radius: 10px;
  height: 0.5rem;
  width: 15rem;
  margin-left: 100px;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.animals {
  display: list-item;
}
.search {
  position: absolute;
  z-index: 10000;
}
