:root {
  --translucid-bg: rgba(255, 255, 255, 1);
}

.main-collumn-slide {
  position: relative;
  top: 0%;
  background-color: var(--translucid-bg);
  overflow: scroll;
  height: 100%;
}
@media screen and (max-width: 783px) {
  .main-collumn-slide {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.sub-collumn-slide {
  margin: 0 15px 0 15px;
}

.separator {
  position: relative;
  left: -5%;
  border: none;
  margin: 2rem;
  width: 90%;
  border-bottom: 1px solid #5a5a5a96;
  box-shadow: 0 0 20px 8px rgba(51, 51, 51, 0.6);
}

.slide-menu-title-fav {
  font-size: 24px;
  font-weight: bold;
  padding-top: 1rem;
}

.slide-menu-title-prox {
  font-size: 24px;
  font-weight: bold;
}

.legend-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px 8px rgba(51, 51, 51, 0.6);
}

.legend-container button {
  border: none;
  background-color: white;
}

.legend-available-bikes {
  width: 200px;
  color: black;
  background-color: #32936f;
}

.legend-available-bikes-standings {
  width: 200px;
  color: white;
  background-color: #7b0828;
}

.legend-dead-bikes {
  width: 200px;
  color: white;
  background-color: grey;
}

.legend-content {
  display: flex;
  flex-direction: column;
}
